<ion-header>
  <ion-toolbar>
    <ion-title>Update & Delete</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showHelp()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Manage Existing Item</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This page will allow updating and deleting inventory items using item name.
    </ion-card-content>
  </ion-card>
</ion-content>